fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-core
python-dotenv
langchain-google-genai
langgraph
pandas
langchain-chroma>=0.1.2
sentence-transformers
langchain-huggingface
langchain_groq
